---
import Layout from '../layouts/Layout.astro';
import TransitCard from '../components/TransitCard.astro';
import InfoCard from '../components/InfoCard.astro';
import Tip from '../components/Tip.astro';
import { TRANSIT_MASTER, TRANSIT_TICKETS } from '../data/trip';
---

<Layout title="大眾交通工具搭乘指南 · 福岡九天" activeNav="transit">
  <section class="section" style="margin-top: 16px;">
    <h2 class="section-title">大眾交通工具搭乘指南<small>PUBLIC TRANSIT MASTER GUIDE</small></h2>
    <InfoCard card={TRANSIT_TICKETS} />
    {TRANSIT_MASTER.map((card) => <TransitCard card={card} />)}
    <Tip text="悠遊小撇步：福岡的車站閘門幾乎都支援 IC 卡感應，省去買單程票時間；特急列車（由布院之森、SONIC）必須額外購買「特急券」+ 指定席券，僅 IC 卡無法搭乘自由席以外的車廂。" />
  </section>
</Layout>
